@{
    ViewData["Title"] = "Home Page";
}

<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="slotzoom-horizontal">
                <img src="images/slider/2.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="190"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>Votre Oasis de luxe <br>Bienvenue</h1>
                        <p><br>Le meilleur hotel a marrakech
                        </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="430"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="@Url.Action("Hebergement", "Home")">Réservez</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="430"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="@Url.Action("Hebergement", "Home")">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="slotzoom-horizontal">
                <img src="images/slider/1.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="190"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>Votre Oasis de luxe <br>Bienvenue</h1>
                        <p>
                            <br>Le meilleur hotel a marrakech
                        </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="430"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="@Url.Action("Hebergement", "Home")">Réservez</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="430"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="@Url.Action("Hebergement", "Home")">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="slotzoom-horizontal">
                <img src="images/slider/3.jpg" alt="" width="1920" height="750" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="190"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>Votre Oasis de luxe <br>Bienvenue</h1>
                        <p>
                            <br>Le meilleur hotel a marrakech
                        </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="430"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="@Url.Action("Hebergement", "Home")">Réservez</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="430"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="@Url.Action("Hebergement", "Home")">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->
<!--Services Section-->
<section class="services-section padd-1">
    <div class="container">
        <div class="sec-title center">
            <h2>Nos <span>Services</span></h2>
        </div>

        <div class="row clearfix">
            <!--Service Block-->
            <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon"><span class="flaticon-bed"></span></div>
                    <h3>
                        <a href="service-single.html">
                            Room services
                        </a>
                    </h3>
                    <div class="text">Pour un petit-déjeuner en toute intimité dans votre appartement. </div>
                </div>
            </div>

            <!--Service Block-->
            <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon"><span class="flaticon-balcony"></span></div>
                    <h3><a href="service-single.html">Climatisation</a></h3>
                    <div class="text">Profiter pleinement d’un climat intérieur plus agréable en été.</div>
                </div>
            </div>

            <!--Service Block-->
            <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon"><span class="flaticon-garage"></span></div>
                    <h3><a href="service-single.html">Parking</a></h3>
                    <div class="text">Pour garantir la sécurité de votre véhicule pendant votre séjour.</div>
                </div>
            </div>

            <!--Service Block-->
            <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon"><span class="flaticon-bathtub"></span></div>
                    <h3>
                        <a href="service-single.html">
                            Wifi haut débit
                        </a>
                    </h3>
                    <div class="text">Pour une connexion internet en tout temps dans tous nos espaces.</div>
                </div>
            </div>

            <!--Service Block-->
            <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon"><span class="flaticon-pool"></span></div>
                    <h3>
                        <a href="service-single.html">
                            Piscine extérieure
                        </a>
                    </h3>
                    <div class="text">Pour des moments de fraîcheur et de détente au soleil.</div>
                </div>
            </div>

            <!--Service Block-->
            <div class="service-block-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner">
                    <div class="icon"><span class="flaticon-cutlery"></span></div>
                    <h3>
                        <a href="service-single.html">
                            Café restaurant
                        </a>
                    </h3>
                    <div class="text">Pour savourer des moments de convivialité et de gourmandise</div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Services Section-->
<!--Rooms Section-->
<section class="rooms-section padd-2" style="background-image:url(images/background/rb.jpg);">
    <div class="container">
        <!--Sec Title One-->
        <div class="sec-title center light">
            <h2><span>Chambre </span>d'hôtel</h2>
        </div>

        <div class="three-item-carousel">
            @{
                var rooms = ViewBag.Rooms as List<Room>;
            }

            @if (rooms != null && rooms.Any())
            {
                @foreach (var room in rooms)
                {
                    <div class="room-box">
                        <div class="inner-box">
                            <div class="image-box">
                                @if (room.Room_Image != null && room.Room_Image.Length > 0)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(room.Room_Image)" alt="Image of @room.RoomType" />
                                }
                                else
                                {
                                    <!-- Default Image if Room_Image is null -->
                                    <img src="images/resource/Pool Villa (general View).jpg" alt="Default Image" />
                                }
                            </div>

                            <div class="lower-content">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h3><a href="single-room.html">@room.RoomType</a></h3>
                                <div class="price clearfix">
                                    @room.RoomPrice MAD
                                    <a href="@Url.Action("Book", "Rooms", new { id = room.RoomNumber })">Réserver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No rooms available</p>
            }
        </div>
    </div>
</section>


<!--End Rooms Section-->
<!--subscribe Box-->
<section class="subscirbe-section" style="background-image:url(images/background/5.jpg);">
    <div class="container">
        <div class="row clearfix">
            <div class="column col-md-8 col-sm-12 col-xs-12">
                <h2>Réservez dès maintenant!</h2>
            </div>
            <div class="btn-column col-md-4 col-sm-12 col-xs-12">
                <a href="@Url.Action("Hebergement", "Home")" class="btn-style-seven">Réservez</a>
            </div>
        </div>
    </div>
</section>
<!--End subscribe Box-->
<!--Spots Section Two-->
<section class="spots-section-two padd-2">
    <div class="container">

        <!--Sec Title One-->
        <div class="sec-title center">
            <h2><span>Activités </span>à l’hôtel</h2>
        </div>

        <div class="clearfix">

            <!--Left Column-->
            <div class="column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Post Style One / Content Column / Image Bottom-->
                <div class="post-style-one image-bottom">
                    <div class="inner-box">
                        <!--Content Box-->
                        <div class="content-box">
                            <div class="inner-box">
                                <!--Sec Title Three-->
                                <div class="sec-title style-3">
                                    <h3>
                                        Fitness & Yoga
                                    </h3>
                                    <div class="text">À l’abri des regards, une salle de coaching privé a été pensée pour répondre à toutes les exigences – cardio, boxe, cross training, yoga, les possibilités sont infinies.</div>
                                    <a href="#" class="btn-style-one">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                        <!--Image Box-->
                        <figure class="image-box">
                            <img src="images/resource/nam-179-scaled.jpg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>

            <!--Right Column-->
            <div class="column col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <!-- Post Style One / Content Column / Image Left -->
                <div class="post-style-one image-left">
                    <div class="inner-box">
                        <div class="clearfix">

                            <!--Content Box-->
                            <div class="content-box small-box pull-right col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <!--Sec Title Three-->
                                    <div class="sec-title style-3">
                                        <h3>
                                            Dîner Romantique
                                        </h3>
                                        <div class="text">Vivez une expérience d’exception au sein du Palais Namaskar, lors d’un dîner intime et raffiné aux chandelles.</div>
                                        <a href="#" class="btn-style-one">En savoir plus</a>
                                    </div>
                                </div>
                            </div>

                            <!--Image Box-->
                            <figure class="image-box pull-left col-md-6 col-sm-6 col-xs-12">
                                <img src="images/resource/romantic.jpg" alt="" />
                            </figure>

                        </div>
                    </div>
                </div>

                <!-- Post Style One / Content Column / Image Left -->
                <div class="post-style-one image-right">
                    <div class="inner-box">
                        <div class="clearfix">

                            <!--Content Box-->
                            <div class="content-box small-box pull-left col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <!--Sec Title Three-->
                                    <div class="sec-title style-3">
                                        <h3>Photoshooting</h3>
                                        <div class="text">Niché au cœur de 5 hectares de tranquillité parfaites les meilleures conditions.</div>
                                        <a href="#" class="btn-style-one">En savoir plus</a>
                                    </div>
                                </div>
                            </div>

                            <!--Image Box-->
                            <figure class="image-box pull-right col-md-6 col-sm-6 col-xs-12">
                                <img src="images/resource/228A6390.jpg" alt="" />
                            </figure>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<!--Fact Counter-->
<section class="fact-counter" style="background-image:url(images/resource/228A6390.jpg);">
    <div class="container">
        <div class="row clearfix">
            <div class="counter-outer clearfix">
                <!-- Column: Happy Clients -->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-happy"></i></div>
                        <div class="count-outer">
                            <span class="count-text" data-speed="6000" data-stop="@ViewBag.TotalClients">0</span>+
                        </div>
                        <h4 class="counter-title">Clients satisfaits</h4>
                    </div>
                </article>

                <!-- Column: Awards Winning (This one remains unchanged) -->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-calendar"></i></div>
                        <div class="count-outer">
                            <span class="count-text" data-speed="6000" data-stop="@ViewBag.TotalReservations">0</span>
                        </div>
                        <h4 class="counter-title">Réservations</h4>
                    </div>
                </article>

                <!-- Column: Our Staff -->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-network"></i></div>
                        <div class="count-outer">
                            <span class="count-text" data-speed="6000" data-stop="@ViewBag.TotalUsers">0</span>
                        </div>
                        <h4 class="counter-title">Notre équipe</h4>
                    </div>
                </article>

                <!-- Column: Total Rooms -->
                <article class="column counter-column col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                    <div class="item">
                        <div class="icon"><i class="flaticon-bed"></i></div> <!-- Change icon to bed for rooms -->
                        <div class="count-outer">
                            <span class="count-text" data-speed="6000" data-stop="@ViewBag.TotalRooms">0</span>+
                        </div>
                        <h4 class="counter-title">Chambres</h4> <!-- Change text to Total Rooms -->
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>


<!--Start our team area-->
<section class="our-team-area padd-2">
    <div class="container">
        <div class="sec-title center">
            <h2>Rencontrez <span>notre équipe</span></h2>
        </div>
        <div class="four-item-carousel owl-carousel owl-theme owl-nav-style-one owl-dot-none">

            @{
                var users = ViewBag.Users as List<User>;
                var imagesUsers = new List<string>
            {
            "images/team/1.jpg",
            "images/team/2.jpg",
            "images/team/3.jpg",
            "images/team/4.jpg"
            };
            }

            @if (users != null && users.Any())
            {
                int index = 0;
                @foreach (var user in users)
                {
                    <div class="single-team-member">
                        <figure class="img-box">
                            <img src="@imagesUsers[index % imagesUsers.Count]" alt="Image of @user.Username">
                            <div class="overlay">
                                <div class="inner-box">
                                    <ul class="social-style-three">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </figure>
                        <div class="author-info text-center">
                            <h4>@user.Username</h4>
                            <a href="#"><p class="position">@user.Role</p></a>
                        </div>
                    </div>
                    index++;
                }
            }
            else
            {
                <p>No team members available</p>
            }
        </div>
    </div>
</section>

<!--End our team area-->
<!--Testimonials-->
@* <section class="testimonials-section padd-2" style="background-image:url(images/background/pool.jpg);"> *@
@*     <div class="container"> *@

@*         <!--Slider--> *@
@*         <div class="testimonials-slider  owl-carousel owl-theme owl-nav-none owl-dot-style-one"> *@

@*             <!--Slide--> *@
@*             <article class="testimonial-slide-item"> *@
@*                 <figure class="image-box"><img src="images/resource/Villa Namaskar (General View).jpg" alt=""></figure> *@
@*                 <div class="info-box"> *@
@*                     <h3>Sanzida Akon</h3> *@
@*                     <p class="designation">Founder</p> *@
@*                 </div> *@

@*                 <div class="text"> *@
@*                     “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed varius nulla. Ut et maximus nunc. Vivamus ligula metus, dapibus sed faucibus non, ultrices eu lorem. Sed leo nisl, eleifend sit amet nulla in, tristique consequat dui. Maecenas non risus nibh. Aliquam et lobortis dolor.” *@
@*                 </div> *@
@*             </article> *@

@*             <!--Slide--> *@
@*             <article class="testimonial-slide-item"> *@
@*                 <figure class="image-box"><img src="images/resource/Pool Villa (general View).jpg" alt=""></figure> *@
@*                 <div class="info-box"> *@
@*                     <h3>Albert Muzad</h3> *@
@*                     <p class="designation">Co-Founder</p> *@
@*                 </div> *@

@*                 <div class="text"> *@
@*                     “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed varius nulla. Ut et maximus nunc. Vivamus ligula metus, dapibus sed faucibus non, ultrices eu lorem. Sed leo nisl, eleifend sit amet nulla in, tristique consequat dui. Maecenas non risus nibh. Aliquam et lobortis dolor.” *@
@*                 </div> *@
@*             </article> *@

@*             <!--Slide--> *@
@*             <article class="testimonial-slide-item"> *@
@*                 <figure class="image-box"><img src="images/resource/Pool Villa (general View).jpg" alt=""></figure> *@
@*                 <div class="info-box"> *@
@*                     <h3>Juthi Kumb</h3> *@
@*                     <p class="designation">Co-Founder</p> *@
@*                 </div> *@

@*                 <div class="text"> *@
@*                     “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed varius nulla. Ut et maximus nunc. Vivamus ligula metus, dapibus sed faucibus non, ultrices eu lorem. Sed leo nisl, eleifend sit amet nulla in, tristique consequat dui. Maecenas non risus nibh. Aliquam et lobortis dolor.” *@
@*                 </div> *@
@*             </article> *@
@*         </div> *@
@*     </div> *@
@* </section> *@


@* <section class="blog-section padd-1"> *@
@*     <div class="container"> *@
        @* <div class="sec-title center"> *@
        @*     <h2>Latest <span>news</span></h2> *@
        @* </div> *@
        @* <div class="row"> *@
        @*     <div class="col-md-4 col-sm-6 col-xs-12"> *@
        @*         <div class="default-blog-news wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> *@
        @*             <figure class="img-box"> *@
        @*                 <img src="images/blog/1.jpg" alt="News"> *@
        @*             </figure> *@
        @*             <div class="lower-content"> *@
        @*                 <div class="post-meta">by fletcher  |  Mar 21, 2018</div> *@
        @*                 <h4><a href="blog-details.html">Amazing place to feel the blue sky</a></h4> *@
        @*                 <div class="text"> *@
        @*                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat. *@
        @*                 </div> *@
        @*                 <div class="link-btn5"> *@
        @*                     <a href="blog-details.html" class="btn-style-eight hvr-icon-wobble-horizontal">Read More</a> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="col-md-4 col-sm-6 col-xs-12"> *@
        @*         <div class="default-blog-news wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> *@
        @*             <figure class="img-box"> *@
        @*                 <img src="images/blog/2.jpg" alt="News"> *@
        @*             </figure> *@
        @*             <div class="lower-content"> *@
        @*                 <div class="post-meta">by fletcher  |  Feb 21, 2018</div> *@
        @*                 <h4><a href="blog-details.html">Amazing place to feel the blue sky</a></h4> *@
        @*                 <div class="text"> *@
        @*                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat. *@
        @*                 </div> *@
        @*                 <div class="link-btn5"> *@
        @*                     <a href="blog-details.html" class="btn-style-eight hvr-icon-wobble-horizontal">Read More</a> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @*     <div class="col-md-4 col-sm-6 col-xs-12"> *@
        @*         <div class="default-blog-news wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"> *@
        @*             <figure class="img-box"> *@
        @*                 <img src="images/blog/3.jpg" alt="News"> *@
        @*             </figure> *@
        @*             <div class="lower-content"> *@
        @*                 <div class="post-meta">by fletcher  |  Jan 21, 2018</div> *@
        @*                 <h4><a href="blog-details.html">Amazing place to feel the blue sky</a></h4> *@
        @*                 <div class="text"> *@
        @*                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat. *@
        @*                 </div> *@
        @*                 <div class="link-btn5"> *@
        @*                     <a href="blog-details.html" class="btn-style-eight hvr-icon-wobble-horizontal">Read More</a> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
@*     </div> *@
@* </section> *@

<!--Main Footer-->
<footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <figure class="footer-logo"><a href="index.html"><img src="images/app_logo.png" alt=""></a></figure>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li>Marrakech , Maroc</li>
                                        <li>Telephone : +212-623-401-1404</li>
                                        <li>emsi@Mailtrap.com</li>
                                    </ul>
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget service-widget">
                                <div class="section-title">
                                    <h3>Nos services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Room services</a></li>
                                        <li><a href="#">Climatisation</a></li>
                                        <li><a href="#">Parking</a></li>
                                        <li><a href="#">Wifi haut débit</a></li>
                                        <li><a href="#">Piscine extérieure</a></li>
                                        <li><a href="#">Café restaurant</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="section-title">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a asp-controller="Home" asp-action="Index">Accueil</a></li>
                                        <li><a href="contact.html">Hebergement</a></li>
                                        <li><a asp-controller="Home" asp-action="Gallery">Galerie</a></li>
                                        <li><a href="service.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        @* <div class="footer-column col-md-6 col-sm-6 col-xs-12"> *@
                        @*     <div class="footer-widget contact-widget"> *@
                        @*         <div class="section-title"> *@
                        @*             <h3>Instagram</h3> *@
                        @*         </div> *@
                        @*         <div class="footer-widget gallery-widget"> *@

                        @*             <figure class="image"> *@
                        @*                 <img src="images/resource/i1.jpg" alt=""> *@
                        @*                 <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div> *@
                        @*             </figure> *@

                        @*             <figure class="image"> *@
                        @*                 <img src="images/resource/i2.jpg" alt=""> *@
                        @*                 <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div> *@
                        @*             </figure> *@

                        @*             <figure class="image"> *@
                        @*                 <img src="images/resource/i3.jpg" alt=""> *@
                        @*                 <div class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div> *@
                        @*             </figure> *@

                        @*         </div> *@
                        @*     </div> *@
                        @* </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="container">
            <div class="copy-text center">
                <p>Copyrights © 2018 All Rights Reserved by <a href="index.html"> Nilachol.</a></p>
            </div>
        </div>
    </div>
</footer>


<!--popup box-->
<div class="popup-box" id="appointment-popup">
    <!--Bg Fade Layer-->
    <div class="bg-fade-layer"></div>

    <div class="popup-container">
        <div class="popup-content">

            <div class="popup-header">
                <button type="button" class="btn-close"><span class="fa fa-close"></span></button>
            </div>


            <div class="popup-inner">
                <div class="default-form">
                    <h3>Make An Appointment</h3>

                    <form method="post">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="username" value="" placeholder="Your Name" required>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" name="useremail" value="" placeholder="Your Email" required>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="date" type="text" class="datepicker" placeholder="Check In" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="date" type="text" class="datepicker" placeholder="Check Out" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <select name="subject">
                                        <option>I want to discuss</option>
                                        <option>Subject Title 1</option>
                                        <option>Subject Title 2</option>
                                        <option>Subject Title 3</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-left"><button type="submit" class="theme-btn btn-style-one">Submit Request</button></div>
                    </form>
                </div>
            </div>
        </div>
        <!--popup-content -->
    </div>
    <!-- popup-container -->
</div>
<!-- popup Box -->
